<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
    <title><%= title %></title>
    </head>
    <body>
        <section ng-view></section>
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angularroute.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angularresource.js"></script>
        <script type="text/javascript" src="/application.js"></script>
    </body>
</html>